extends ../layout

block content
  section
    .container
      .row
        .col-lg-12.text-center
            form(action="/meals/create/#{restaurant._id}", method="POST")
                .form-group
                    label(for='mealName') Name
                    input#mealName.form-control(name="name", type="text", placeholder="Enter the name of a meal")
                .form-group
                    label(for='allergies') allergies
                    input#allergies.form-control(name="allergies", type="text", placeholder="Etes vous allergique")
                .form-group
                    label(for='ingredients') ingredients
                    input#ingredients.form-control(name="ingredients", type="text", placeholder="What are ingredients")
                .form-group
                    input#vegan(type="checkbox", name="vegan")
                    | vegan ?
                .form-group
                    input#hala(type="checkbox", name="halal")
                    | halal ?
                .form-group
                    input#kosher(type="checkbox", name="kosher")
                    | kosher ?
                .form-group
                    .btn-group
                        button.btn.btn-primary(type="submit") Create
                        button.btn.btn-danger Cancel