extends ../layout

block content
  section
    .container
      .row
        .col-lg-12.text-center
            form(action="/restaurants/create/", method="POST")
                .form-group
                    label(for='restaurantName') Name
                    input#restaurantName.form-control(name="name", type="text", placeholder="Enter the name of a restaurant")
                .form-group
                    label(for='location') Location
                    input#location.form-control(name="location", type="text", placeholder="Enter the name of the location")
                .form-group
                    label(for='neighborhood') Neighborhood
                    input#neighborhood.form-control(name="neighborhood", type="text", placeholder="Enter a neighborhood")
                .form-group
                    label(for='councilDistrict') Council District
                    input#councilDistrict.form-control(name="councilDistrict", type="text", placeholder="What is the council district")
                .form-group
                    .btn-group
                        button.btn.btn-primary(type="submit") Create
                        button.btn.btn-danger Cancel